<mat-card>
    <span>Create new entry</span>
    <form #myform="ngForm" [formGroup]="entryForm" (ngSubmit)="onSubmit(myform)">
        <mat-form-field class="new-entry-field">
            <input matInput placeholder="Entry description" formControlName="description">
        </mat-form-field>
        <mat-form-field class="new-entry-field">
            <mat-select placeholder="Entry type" formControlName="isExpense">
                <mat-option *ngFor="let type of types" [value]="type.value" >
                    {{type.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="new-entry-field">
            <input matInput placeholder="Entry value" formControlName="value">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]='!entryForm.valid'>Create new</button>
        <button mat-raised-button type="reset" >Cancel</button> 
    </form>
</mat-card>