<mat-card>
  <mat-card-header>
    <mat-card-title>Are you sure?</mat-card-title>
  </mat-card-header>
  <mat-dialog-content>
    <mat-list>
      <mat-list-item>
        <b>Description:&nbsp;</b> {{entry.Description}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>Value:</b> ${{entry.Value}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [ngStyle]="entry.IsExpense ? {color: 'red'} : {color: 'green'}">
        <b>Entry Type:</b> {{entry.IsExpense ? 'Expense' : 'Income'}}
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  <mat-card-actions>
    <button mat-flat-button (click)='cancel()'>Cancel</button>
    <button mat-raised-button (click)='confirm()' color="warn">Confirm</button>
  </mat-card-actions>
</mat-card>
